* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NewsContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cadcfc;
}

.NewsContent .mainContent {
  width: 70%;
  margin: 8rem 0;
  background-color: #b5d0ff;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #00246b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.NewsContent .mainContent .upperContent {
  margin-bottom: 1rem;
  width: 100%;
}

.NewsContent .mainContent .upperContent h1 {
  font-size: 3rem;
  text-align: left;
}

.NewsContent .mainContent img {
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 20px;
}

.NewsContent .mainContent .lowerContent {
  width: 90%;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}