* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Home{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CADCFC;
}

.Home .wrapper{
    height: 60vh;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #8AB6F9;
    border-radius: 20px;
}

.Home .wrapper .left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.Home .wrapper .left p{
    font-size: 1.2rem;
    font-weight: 500;
    width: 80%;
    text-align: center;
    color: #00246B;
    padding-bottom: 1rem;
}

.Home .wrapper .left .buttons{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.Home .wrapper .left .buttons a{
    text-decoration: none;
    font-weight: 500;
    color: #CADCFC;
    background-color: #00246B;
    width: 6vw;
    height: 2rem;
    border-radius: 10px;
    text-align: center;
    line-height: 2rem;
}

.Home .wrapper .right{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Home .wrapper .right img{
    height: 100%;
}
